streamlit
langchain
langchain-classic
langchain-community
langchain-chroma
langchain-text-splitters
langchain-mistralai
langchain-huggingface
chromadb
sentence-transformers
unstructured
python-dotenv
mistralai
requests
beautifulsoup4
lxml